@model IEnumerable<GCD0806.ViewModel.TeamUsersViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>All Teams</h2>
<div class="form-group">
    @Html.ActionLink("Create a new Team","Create","Team",new {@class ="btn btn-primary"})
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Team Name</th>
            <th scope="col">Team Members</th>
            <th scope="col">Add Team Members</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Team.Name</td>
                <td>
                    <ul>
                        @foreach(var user in item.User)
                {
                    <li>@user.Email</li>
                }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("Add User to Team","AddUser","Team",new {@class ="btn btn-primary"})
                    @Html.ActionLink("Remove User","RemoveUser","Team",new {@class ="btn btn-primary"})
                </td>
            </tr>
        }
    </tbody>
</table>

