@model GCD0806.Models.Todo
@{
    ViewBag.Title = "Details";
}

<h2>Todo Details</h2>
<div class="form-group">
    @Html.ActionLink("Back to my Todos", "Index", null, new { @class = "btn btn-primary" })
</div>

<div class="panel panel-default">
    <div class="panel-heading">@Model.Description</div>
    <div class="panel-body">
        <p>Id: @Model.Id</p>
        <p>Category: @Model.Category.Description</p>
        <p>Due Date: @Model.DueDate.ToString("dd/MMM/yyyy")</p>
    </div>
</div>
