@model IEnumerable<GCD0806.Models.Todo>
@{
    ViewBag.Title = "Index";
}

<h2> My Todos</h2>
<div class="form-group">
    @Html.ActionLink("Create a new Todo", "Create", null, 
    new {@class = "btn btn-primary"}
    )
</div>

@using (Html.BeginForm("Index","Todo",FormMethod.Get))
            {
                <div class="form-group">
                    @Html.TextBox("searchString", null, new {@class ="form-control", placeholder ="Search by todo name or category" })
                </div>
                <button type="submit" class="btn btn-primary"> Search</button>
            }

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID </th>
            <th scope="col">Description</th>
            <th scope="col">DueDate</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Model)
        {
            <tr>
                <td>@todo.Id </td>
                <td>@todo.Description</td>
                <td>@todo.DueDate.ToString("MMM-dd-yyyy")</td>
                <td>@todo.Category.Description</td>
                <td>
                    @Html.ActionLink("See Details", "Details", new { id = todo.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Edit Todo", "Edit", new { id = todo.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete this", "Delete", new { id = todo.Id }, 
                        new { @class = "btn btn-danger", onClick = "return confirm ('Are you sure ?')" })
                </td>
            </tr>
        }
    </tbody>
</table>